.test-2>.makeStyles-centered-58>div {
    animation: fadeInUp 1000ms both
}

.test {
    background-color: black;
}

.background-container {
    height: 1600px;
    width: 100vw;
    background: #C62267;
}

.background-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-animation {
    /*animation: fadeInUp 1500ms ease-in both;*/
    animation: bounceInUp 1000ms ease-out both
}

/*@keyframes fadeInUp {*/
/*    from {*/
/*        opacity: 0;*/
/*        transform: translate3d(0, 100%, 0);*/
/*    }*/

/*    to {*/
/*        opacity: 1;*/
/*        transform: translate3d(0, 0, 0);*/
/*    }*/
/*}*/


@keyframes bounceInUp {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
