.test-2>.makeStyles-centered-58>div {
    animation: fadeInUp 1000ms both
}

.test {
    background-color: black;
}

.background-container {
    height: 1400px;
    width: 100vw;
    background: #C62267;
}

.background-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-animation {
    animation: fadeInUp 1500ms ease-in both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
